
.userStag {
    padding: 5px 0px 3px 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.92em;
    display: inline-block;
    vertical-align: middle;
}

.userStag span {
    line-height: 100%;
}

.userStagGirl {
    background: #ff9eb0 url('http://pws.myhug.cn/static/wap/img/z/icon_girl_32.png') center center no-repeat;
    background-size: auto 100%;
}

.userStagBoy {
    background: #47a2ed url('http://pws.myhug.cn/static/wap/img/z/icon_boy_32.png') center center no-repeat;
    background-size: auto 100%;
}

.userStagGirl_2 {
    background: #ff9eb0 url('http://pws.myhug.cn/static/zroom/grade/icon_medal_28_1.png') center center no-repeat;
    background-size: auto 100%;
    background-position-y: 100.5%;
}

.userStagBoy_2 {
    background: #6fbaf7 url('http://pws.myhug.cn/static/zroom/grade/icon_medal_28_1.png') center center no-repeat;
    background-size: auto 100%;
    background-position-y: 89.5%;
}

.userGrade {
    padding: 5px 7px 3px 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.92em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.userGrade span {
    line-height: 100%;
}

.userGradeStar {
    background: rgb(163, 215, 42) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_1.png') 6px 50% no-repeat;
    background-size: auto 100%;
}

.userGradeMoon {
    background: rgb(35, 216, 216) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_2.png') 6px 50% no-repeat;
    background-size: auto 100%;
}

.userGradeSun {
    background: rgb(250, 106, 33) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_3.png') 6px 50% no-repeat;
    background-size: auto 100%;
}

.userGradeCrown1 {
    background: rgb(250, 80, 82) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_4.png') 6px 50% no-repeat;
    background-size: auto 100%;
}

.userGradeCrown2 {
    background: rgb(250, 47, 96) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_5.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: rgb(255, 247, 55);
}

.userGradeCrown3 {
    background: rgb(250, 59, 154) url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_6.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: rgb(255, 247, 55);
}

.userGradeCrown4 {
    background: #b400b5 url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_7.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff700;
}

.userGradeCrown5 {
    background: #ffaa00 url('http://pws.myhug.cn/static/wap/img/z/icon_zhibo_dj_8.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff700;
}
// 112级
.userGradeCrown112 {
    background: #f452fa url('http://myhug.cn/static/wap/img/z/icon_zhibo_dj_112.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff;
}
// 226级
.userGradeCrown226 {
    background: #8c57d8 url('http://myhug.cn/static/wap/img/z/icon_zhibo_dj_226.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff;
}
// 226级
.userGradeCrown226 {
    background: #8c57d8 url('http://myhug.cn/static/wap/img/z/icon_zhibo_dj_226.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff;
}
// 289级
.userGradeCrown289 {
    background: #f26c12 url('http://myhug.cn/static/wap/img/z/icon_zhibo_dj_289.png') 6px 50% no-repeat;
    background-size: auto 100%;
    color: #fff;
}
//修改 -- 徐学良
.userGrade{
    height 32px
    padding-top 1px
    padding-bottom 1px
    line-height 34px
    padding-left 41px
    padding-right 10px
    font-weight 400
  }
  .userStag{
    width: 32px;
    height: 33px;
    padding 0 1.5px
  }
  .userStagBoy{
    background-color #6fbaf7
  }
  // 抱抱 排名牌
  .top_1{
    height:80px;
    background: transparent url(http://pws.myhug.cn/static/wap/img/ad/icon_my_ph_hg_1.png) no-repeat center / 60px 81px;
  }
  .top_2{
    height:80px;
    background: transparent url(http://pws.myhug.cn/static/wap/img/ad/icon_my_ph_hg_2.png) no-repeat center / 60px 81px;
  }
  .top_3{
    height:80px;
    background: transparent url(http://pws.myhug.cn/static/wap/img/ad/icon_my_ph_hg_3.png) no-repeat center / 60px 81px;
  }
.stag_male{
    background: #6fbaf7 url(http://pws.myhug.cn/static/zroom/grade/icon_medal_28_1.png) 6px 50% no-repeat;
    background-size: 28px;
    background-position-y: 89.5%;
    }
  .stag_female {
    background: #ff9eb0   url("http://pws.myhug.cn/static/zroom/grade/icon_medal_28_1.png") 6px 50% no-repeat;
    background-size: 28px;
    background-position-y: 100.5%;
}.stag {
    padding: 3px 7px 1px 40px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 5px;
}
.grade {
    padding: 5px 7px 3px 34px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 5px;
}