.bb-icon{
  display inline-block
  }
  .icon-wxpay{
    background: url('http://pws.myhug.cn/npic/s/9/ff5839c5665bce074ce72647ac884da0c6d41b1a4e1a4d')no-repeat center /cover;
    width 21px
    height 19px
  } 
  .icon-alipay{
    background: url('http://pws.myhug.cn/npic/s/9/ff58399dfd3e01be68732cd99afb96ebce070ecc232e4d')no-repeat center /cover;
    width 20px
    height 20px
  }