@import '~@lib/common/stylus/variable.styl';
// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
// 背景图
bg-img($url, w = 100%, h = 100%) {
  background-image: url($url)
  background-repeat: no-repeat
  background-size: w h
}
// 容器背景尺寸
bg-size(w = 100%, h = 100%) {
  width: w
  height: h
  background-size: w h
  background-repeat: no-repeat
}
//宽高
wh($width, $height = $width) {
  width: $width;
  height: $height;
}
size($width, $height) {
    width: $width;
    height: $height;
}
square($size) {
    size($size, $size);
}
// 字体大小
fs($font) {
  font-size: $font
}
// 圆角
br($radius) {
  border-radius: $radius
}
// 定位
pos($pos, $top, $left = $top) {
  position: $pos == r ? relative : $pos == a ? absolute : $pos == f ? fixed : $pos
  top: $top
  left: $left
}
//定位上下左右居中
center() {
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
ct() {
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
cl() {
  position: absolute;
  left: 50%;
    transform: translateX(-50%);
}


//@mixin font-dpr($font-size){
//    font-size: $font-size;
//
//    [data-dpr="2"] & {
//        font-size: $font-size * 2;
//    }
//
//    [data-dpr="3"] & {
//        font-size: $font-size * 3;
//    }
//}
// 字号
fontSizeFn($Ssize,$Bsize)
 for $size in $Ssize .. $Bsize
  if $size % 2 == 0
    .fs-{$size}
      font-size $size*1px
//
// 超行省略
ellipsis($num){
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$num;
}

// TODO: checkbox

// clearfix
clearfix() {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}
// close
close-base($top = 0, $icon-font-size = 22px) {
    font-size: $icon-font-size;
    color: $legend-color;
    transition: color $transition-time ease;
    position: relative;
    top: $top;
    &:hover {
        color: #444;
    }
    &:active {
      color: #444
    }
}

// placeholder
placeholder($color = $input-placeholder-color) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1; 
    }
    // Internet Explorer 10+
    &:-ms-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
    &::-webkit-input-placeholder {
        color: $color;
    }
}

// loading for loop
bbfe-load-loop(){
  animation: ani-load-loop 1s linear infinite;
}
@keyframes ani-load-loop {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}

// mask
mask() {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    z-index: $zindex-modal;

    &-hidden {
        display: none;
    }
}
// scale
scale(val,scale=$scale)
  val * scale
  