// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-red = #9d271c
$color-yellow = #FFEED6
$titleColor = #2a2a30
$priceColor=#fd3a47
//字体定义规范
$font-size-small-s = .22rem
$font-size-small = .26rem
$font-size-medium = .28rem
$font-size-medium-x = .34rem
$font-size-large = .40rem
$font-size-large-x = .60rem

//图片地址
$assetsUrl = 'http://pws.myhug.cn'
// 以下为新增变量
$fs40 = 40px
$dark-black = #2a2a30
$color-text-gray = #9b9b9b
$br100 = 100%
$color-white = #fff
// 放大倍数
$scale=1 // 1 是375 2 是750 可以根据次倍数去协调组件内部的显示
// 导航的变量
$navHeight=44px
$backFontSize=28px
$navFontSize = 24px
@import "~@assets/css/variable.styl"

// 19.11.21 开启新规划 start zhengguozhi

// Prefix
$css-prefix = bbfe-

// Color
$white = #fff
$black = #2a2a30

// Base
$body-background = #fff
$component-background = #fff
$title-color = #17233d
$text-color = #515a6e
$font-size-base = 14px
$font-size-small = $font-size-base - 2px
$font-size-large = $font-size-base + 2px
$line-height-base = 1.5
$border-radius-base = 6px
$border-radius-small = $border-radius-base - 2px

// vertical paddings
$padding-lg = 24px
$padding-md = 16px
$padding-sm = 12px
$padding-xs = 8px

// Border color
$border-color-base = #dcdee2
$border-color-split = #e8eaec
$border-color-grey = #f0f0f0
$border-width-base = 1px
$border-style-base = solid

// Background color
$background-color-base = #f7f7f7

// Shadow
$shadow-color  = rgba(0, 0, 0, .2);
$shadow-base   = $shadow-down;
$shadow-card   = 0 1px 1px 0 rgba(0,0,0,.1);
$shadow-up     = 0 -1px 6px $shadow-color;
$shadow-down   = 0 1px 6px $shadow-color;
$shadow-left   = -1px 0 6px $shadow-color;
$shadow-right  = 1px 0 6px $shadow-color;

// Z-index
$zindex-spin            = 8;
$zindex-affix           = 10;
$zindex-back-top        = 10;
$zindex-select          = 900;
$zindex-modal           = 1000;
$zindex-drawer          = 1000;
$zindex-message         = 1010;
$zindex-notification    = 1010;
$zindex-tooltip         = 1060;
$zindex-transfer        = 1060;
$zindex-loading-bar     = 2000;
$zindex-spin-fullscreen = 2010;

// Animation
$animation-time       = .3s;
$animation-time-quick = .15s;
$transition-time      = .2s;
$ease-in-out          = ease-in-out;

// Legend
$legend-color = #999;

// Input
$input-placeholder-color = #c5c8ce

// 19.11.21 开启新规划 end zhengguozhi
:root {
  --white: #ffffff;
}